@import ../variables

.menuContainer
  display: flex
  width: 100%
  height: 90vh
  background-color: #FFFFFF
  color: $unitFontColor
  margin-top: 50px + $borderSize
.menuContainer
  padding: 2% 2%
  height: auto
  min-height: 90vh
  flex-wrap: wrap
  justify-content: flex-start
  .singleWspace
    display: flex
    flex-direction: column
    justify-content: center
    width: 17%
    height: 150px
    margin: 1% 0.5%
    padding: 0% 3%
    background-color: $borderColor
    &:hover
      background-color: $borderColor *0.9
      cursor: pointer