<div class="menuContainer">
    <div class="innerCon">
        <div class="singleWspace" [routerLink]="['/workspace', 'new']">
            <div class="flexRow">
                <h3>New Workspace</h3>
                <div class="flexCol">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </div>
            </div>
       </div>
       <div class="singleWspace" *ngFor="let wspace of itemList" [routerLink]="['/workspace', wspace.dateCreated]">
           <div class="flexRow">
               <h3>{{wspace.title}}</h3>
               <div class="flexCol">
                   <div class="tiny-label grayish">Created: {{wspace.dateCreated | date}}</div>
                    <div class="tiny-label">Modified: {{wspace.dateModified | date}}</div>
               </div>
           </div>
        </div>
    </div>
</div>