<i class="fa fa-bars" aria-hidden="true" (click)="toggleSideMenu()"></i>
<div class="nav">
    <h5>Design</h5>
</div>
<div class="sideMenu" [class.hidden]="!sideMenu" (mouseleave)="setSideMenuOff()">
    <div class="fr-sp"><h5>New</h5><h5>Ctrl + N</h5></div>
    <div class="fr-sp"><h5>Open</h5><h5>Ctrl + O</h5></div>
    <div class="fr-sp"><h5>Save</h5><h5>Ctrl + S</h5></div>
    <div class="fr-sp"><h5>Save As</h5><h5>Shift + Ctrl + S</h5></div>
</div>

<div class="container">
  <div class="row" *ngFor="let bingo of designs">
    <div class="card card-block">
      <h4 class="card-title">{{ bingo.title }}</h4>
      <p class="card-text">{{bingo.body}}</p>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
