
<div class="designContainer">
    <div class="leftSidebar">
        <i (click)="changeTool('select')" class="fa fa-paper-plane" [class.active]="gui.tool=='select'" aria-hidden="true"></i><div>Select (S)</div>
        <i (click)="changeTool('pen')" class="fa fa-paint-brush" [class.active]="gui.tool=='pen'" aria-hidden="true"></i><div>Brush (B)</div>
        <i (click)="changeTool('square')" class="fa fa-square-o" [class.active]="gui.tool=='square'" aria-hidden="true"></i><div>Rectangle (R)</div>
        <i (click)="changeTool('circle')" class="fa fa-circle-thin" [class.active]="gui.tool=='circle'" aria-hidden="true"></i><div>Circle (C)</div>
        <i (click)="changeTool('line')" class="fa fa-minus" [class.active]="gui.tool=='line'" aria-hidden="true"></i><div>Line (L)</div>
        <i (click)="changeTool('text')" class="fa fa-font" [class.active]="gui.tool=='text'" aria-hidden="true"></i><div>Text (T)</div>
        <i (click)="changeTool('eraser')" class="fa fa-eraser" [class.active]="gui.tool=='eraser'" aria-hidden="true"></i><div>Eraser (E)</div>
        <i (click)="undoRedo('undo')" class="fa fa-undo" aria-hidden="true"></i><div>Undo (CTRL+ Z)</div>
        <i (click)="undoRedo('redo')" class="fa fa-repeat" aria-hidden="true"></i><div>Redo (CTRL+ Y)</div>
        <i (click)="deleteDrawing()" class="fa fa-trash" aria-hidden="true"></i><div>Remove (Delete)</div>
        <i class="fa fa-file" aria-hidden="true" (click)="newCanvas()"></i><div>Artboard (A)</div>
    </div>
    <input type="text" #textInput placeholder="New Text" id="virtualInput" autofocus>
    <div #canvasContainer class="canvasCon">
        <canvas *ngFor="let canvas of canvasArr"
                [ngClass]="canvas.class"
                (click)="changeCanvas(canvas)"
                (mousedown)="canvas.mouseDown($event)"
                (mousemove)="canvas.mouseMove($event)"
                (mouseup)="canvas.mouseUp()"
                width="{{canvas.canvasWidth}}"
                height="{{canvas.canvasHeight}}">
        </canvas>
    </div>
    <div class="rightSidebar">
        <h4>Appearance</h4>
        <div class="fr-sp">
            <h5 class="label">Opacity</h5>
            <h5 class="label">{{opacity.value}}%</h5>
        </div>
        <input type="range" value="100" #opacity>
        <div class="fr-sp">
            <input class="colorBox" [colorPicker]="gui.strokeStyle"
                   (colorPickerChange)="setColor($event)"
                   [style.background]="gui.strokeStyle"
                   [cpPosition]="'bottom'" value="{{gui.strokeStyle}}"/>
            <h5 class="label">Color</h5>
        </div>
        <div class="fr-sp">
            <h5 class="label">LineWidth (px)</h5>
            <input class="label" type="number" min="1" max="100" [value]="gui.lineWidth" (input)="changeLineWidth($event)">
        </div>
        <div class="fr-sp">
            <h5 class="label">BrushStyle</h5>
            <i class="fa fa-circle" aria-hidden="true" (click)="changeLineCap('round')" [class.active]="gui.lineCap=='round'"></i>
            <i class="fa fa-square" aria-hidden="true" (click)="changeLineCap('square')" [class.active]="gui.lineCap=='square'"></i>
        </div>
    </div>
</div>
