<div class="fakeNav">
    <i class="fa fa-bars" aria-hidden="true" (click)="toggleLeftSidebar()"></i>
    <h1> - </h1>
    <input [(ngModel)]="man.workspace.title">
</div>
<div class="leftNavSidebar" [ngClass]="{navHidden: hiddenSideBar}" (mouseleave)="hideLeftSideBar()">
    <div (click)="crudAction('Do you wish to save current workspace ?','new')"><h2>New</h2><h2>Ctrl+N</h2></div><!-- Need to Alert with Modal -->
    <div (click)="crudAction('Save','save')"><h2>Save</h2><h2>Ctrl+S</h2></div><!-- Send a request -->
    <div (click)="crudAction('Save As','saveAs')"><h2>Save As</h2><h2>Shift+Ctrl+S</h2></div><!-- Send a request -->
    <div (click)="crudAction('Are you sure you wish to delete this workspace: '+man.workspace.title,'delete')"><h2>Remove</h2><h2>Ctrl+Del</h2></div><!-- Send a request -->
    <div (click)="crudAction('Do you wish to save before you leave?','exit')"><h2>Exit to Menu</h2><h2>Ctrl+Q</h2></div>
</div>
<div class="leftSidebar">
    <i (click)="man.setTool('select')" class="fa fa-paper-plane" [class.active]="man.gui.tool=='select'" aria-hidden="true"></i><div>Select (V)</div>
    <i (click)="man.setTool('pen')" class="fa fa-pencil" [class.active]="man.gui.tool=='pen'" aria-hidden="true"></i><div>Pen (P)</div>
    <i (click)="man.setTool('square')" class="fa fa-square-o" [class.active]="man.gui.tool=='square'" aria-hidden="true"></i><div>Square (S)</div>
    <i (click)="man.setTool('circle')" class="fa fa-circle-thin" [class.active]="man.gui.tool=='circle'" aria-hidden="true"></i><div>Circle (C)</div>
    <i (click)="man.setTool('line')" class="fa fa-minus" [class.active]="man.gui.tool=='line'" aria-hidden="true"></i><div>Line (L)</div>
    <i (click)="man.setTool('text')" class="fa fa-font" [class.active]="man.gui.tool=='text'" aria-hidden="true"></i><div>Text (T)</div>
    <i (click)="undoRedo('undo')" class="fa fa-undo" aria-hidden="true"></i><div>Undo (CTRL+ Z)</div>
    <i (click)="undoRedo('redo')" class="fa fa-repeat" aria-hidden="true"></i><div>Redo (CTRL+ Y)</div>
    <i (click)="man.copySelected()" class="fa fa-plus-square-o" aria-hidden="true"></i><div>Copy (CTRL + C)</div>
    <i (click)="man.pasteSelected()" class="fa fa-plus-square" aria-hidden="true"></i><div>Paste (CTRL + P)</div>
    <i (click)="man.removeDrawing()" class="fa fa-trash" aria-hidden="true"></i><div>Remove (Delete)</div>
    <i (click)="man.addCanvas()" class="fa fa-file" aria-hidden="true"></i><div>Artboard (A)</div>
</div>

<div #canvasContainer class="canvasCon">
    <div class="singleCanvas" *ngFor="let canvas of man.workspace.canvases; let i=index" (mouseenter)="man.activateCanvas(canvas)" (dblclick)="man.activateCanvas(canvas)">
        <div class="canvasHeader" [class.active]="man.activeCanvas==canvas">
            <input placeholder="Artboard - {{i+1}}" value="{{canvas.label}}" [(ngModel)]="canvas.label">
            <i class="fa fa-files-o" aria-hidden="true" (click)="man.duplicateCanvas(canvas)"></i>
            <i class="fa fa-times" aria-hidden="true" (click)="man.removeCanvas(canvas)"></i>
        </div>
        <canvas
            [ngClass]="canvas.className"
            (mousedown)="man.mouseDown($event)"
            (mousemove)="man.mouseMove($event)"
            (mouseup)="man.mouseUp()"
            (mouseout)="man.mouseUp()"
            width="{{canvas.width}}"
            height="{{canvas.height}}">
    </canvas>
    </div>
</div>

<div class="rightSidebar">
    <h4>Appearance</h4>
    <div class="opacityCon">
        <h5>Opacity</h5>
        <div class="innerCon">
            <input type="range" [(ngModel)]="man.gui.globalAlpha">
            <h5>{{man.gui.globalAlpha}}%</h5>
        </div>
    </div>
    <div class="colorCon" *ngIf="man.onDisplay('fillCon')">
        <i (click)="man.toggleHasCol('fill')" [ngClass]="man.getIconClass(man.gui.hasFill)" aria-hidden="true"></i>
        <input class="colorBox" [(colorPicker)]="man.gui.fillStyle"
               [style.background]="man.gui.fillStyle"
               [cpPosition]="'left'"/>
        <h5>Fill</h5>
    </div>
    <div class="colorCon" *ngIf="man.onDisplay('strokeCon')">
        <i (click)="man.toggleHasCol('stroke')" [ngClass]="man.getIconClass(man.gui.hasBorder)" aria-hidden="true"></i>
        <input class="colorBox" [(colorPicker)]="man.gui.strokeStyle"
               [style.background]="man.gui.strokeStyle"
               [cpPosition]="'left'"/>
        <h5 class="smaller">Border</h5>
        <input class="borderSize" type="number" min="1" max="100" [(ngModel)]="man.gui.lineWidth">
    </div>

    <div class="fontCon" *ngIf="man.onDisplay('fontCon')" (change)="styleInput()">
        <h5>Text</h5>
        <div class="innerCon">
            <select [ngModel]="man.gui.textprops.font" (change)="man.setFont($event.target.value)">
                <option [value]="font" *ngFor="let font of man.gui.textprops.allFonts">{{font}}</option>
            </select>
        </div>
        <div class="colorCon">
            <i (click)="man.toggleHasCol('stroke')" [ngClass]="man.getIconClass(man.gui.strokeStyle)" aria-hidden="true"></i>
            <input class="colorBox" [(colorPicker)]="man.gui.strokeStyle"
                   [style.background]="man.gui.strokeStyle"
                   [cpPosition]="'left'"/>
            <h5>Fill</h5>
        </div>
        <div class="innerCon">
            <h5>Font Size</h5>
            <input type="number" min="1" max="100" [(ngModel)]="man.gui.textprops.fontSize">
            <i (click)="man.toggleFontStyle('bold')" class="fa fa-bold" aria-hidden="true"      [ngClass]="{'active': man.gui.textprops.bold}"></i>
            <i (click)="man.toggleFontStyle('italic')" class="fa fa-italic" aria-hidden="true"  [ngClass]="{'active': man.gui.textprops.italic}"></i>
        </div>
    </div>
</div>


<!--  Utilities  -->
<input type="text" #textInput placeholder="New Text" id="virtualInput" autofocus>
<div class="popUpModal" [ngClass]="{hiddenModal: hiddenModal}">
    <div class="popContainer">
        <div class="flexRow">
            <h2>{{modalTitle}}</h2>
            <i class="fa fa-times" aria-hidden="true" (click)="hideModal()"></i>
        </div>
        <div class="flexRow" *ngIf="restAction !='delete'">
            <h2>Workspace Title: </h2>
            <input [(ngModel)]="man.workspace.title">
        </div>
        <div class="flexRow">
            <button class="defaultBtn" (click)="restSwitch(true)">{{modalBtnLeft}}</button> <button class="defaultBtn" (click)="hideModal('btn')">{{modalBtnRight}}</button>
        </div>
    </div>
</div>
<div #saveVis class="saveVisual">
    <h2>{{man.workspace.title}} has been saved!</h2>
</div>




