<div class="leftSidebar">
    <i (click)="man.setTool('select')" class="fa fa-paper-plane" [class.active]="man.gui.tool=='select'" aria-hidden="true"></i><div>Select (V)</div>
    <i (click)="man.setTool('pen')" class="fa fa-pencil" [class.active]="man.gui.tool=='pen'" aria-hidden="true"></i><div>Pen (P)</div>
    <i (click)="man.setTool('square')" class="fa fa-square-o" [class.active]="man.gui.tool=='square'" aria-hidden="true"></i><div>Square (S)</div>
    <i (click)="man.setTool('circle')" class="fa fa-circle-thin" [class.active]="man.gui.tool=='circle'" aria-hidden="true"></i><div>Circle (C)</div>
    <i (click)="man.setTool('line')" class="fa fa-minus" [class.active]="man.gui.tool=='line'" aria-hidden="true"></i><div>Line (L)</div>
    <i (click)="man.setTool('text')" class="fa fa-font" [class.active]="man.gui.tool=='text'" aria-hidden="true"></i><div>Text (T)</div>
    <i (click)="undoRedo('undo')" class="fa fa-undo" aria-hidden="true"></i><div>Undo (CTRL+ Z)</div>
    <i (click)="undoRedo('redo')" class="fa fa-repeat" aria-hidden="true"></i><div>Redo (CTRL+ Y)</div>
    <i (click)="removeDrawing()" class="fa fa-trash" aria-hidden="true"></i><div>Remove (Delete)</div>
    <i (click)="addCanvas()" class="fa fa-file" aria-hidden="true"></i><div>Artboard (A)</div>
</div>

<div #canvasContainer class="canvasCon">
    <div class="singleCanvas" *ngFor="let canvas of man.workspace.canvases; let i=index" (mouseenter)="man.activateCanvas(canvas)">
        <div class="canvasHeader" [class.active]="man.activeCanvas==canvas">
            <input placeholder="Artboard - {{i+1}}" value="Artboard - {{i+1}}">

            <i class="fa fa-times" aria-hidden="true" (click)="man.removeCanvas(canvas)"></i>
        </div>
        <canvas
            [ngClass]="canvas.className"
            (mousedown)="man.mouseDown($event)"
            (mousemove)="man.mouseMove($event)"
            (mouseup)="man.mouseUp()"
            (mouseout)="man.mouseUp()"
            width="{{canvas.width}}"
            height="{{canvas.height}}">
    </canvas>
    </div>
</div>

<div class="rightSidebar">
    <h1>Appearance</h1>
</div>




